html,body,h1,h2,h3,h4,h5 {
    font-family:"Lato", sans-serif
}

h5 {
    font-weight: bold;
}

.mySlides {
    display:none
}

.w3-tag, .fa {
    cursor:pointer
}

.w3-tag {
    height:15px;
    width:15px;
    padding:0;
    margin-top:6px
}

a {
    text-decoration:none;
}
