html,body,footer,h1,h2,h3,h4,h5,h6 {
    font-family:"Lato", sans-serif
}

h5 {
    font-weight: bold;
}

.logo {
    border-radius: 5px;
}

.mySlides {
    display:none
}

.w3-tag, .fa {
    cursor:pointer
}

.w3-tag {
    height:15px;
    width:15px;
    padding:0;
    margin-top:6px
}

.w3-bottombar{
    width: 40px;
}

a {
    text-decoration:none;
}
.descricao-categoria {

    font-size: 14px;

}

.titulo-rodape {
    color: white;
    font-size: 14px;
}

.texto-rodape {
    font-size: 13px;
}
